{{ define "NavBar" }}
<nav>
    <div class="navbar-content">
        <div class="navbar-buttons">
            <!--Home button-->
            <a href="/" class="homeBtn"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#241f31"
                >
                    <path
                        d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"
                    /></svg
            ></a>
            <!--Network button-->
            <a href="/network" class="servicesBtn"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#241f31"
                >
                    <path
                        d="M480-120 0-600q95-97 219.5-148.5T480-800q137 0 261 51t219 149L480-120ZM174-540q67-48 145-74t161-26q83 0 161 26t145 74l58-58q-79-60-172-91t-192-31q-99 0-192 31t-172 91l58 58Z"
                    /></svg
            ></a>
            <!--Terminal button-->
            <a href="/terminal" class="terminalBtn"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#241f31"
                >
                    <path
                        d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H160v400Zm140-40-56-56 103-104-104-104 57-56 160 160-160 160Zm180 0v-80h240v80H480Z"
                    /></svg
            ></a>
        </div>
        <div class="navbar-userArea">
            <span class="userInfo">
                <span class="userIcon">{{ .User.Initial }}</span>
                <p class="userName">{{ .User.Name }}</p>
            </span>

            <button data-on-click="@post('/logout')">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#241f31"
                >
                    <path
                        d="M200-120q-33 0-56.5-23.5T120-200v-160h80v160h560v-560H200v160h-80v-160q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm220-160-56-58 102-102H120v-80h346L364-622l56-58 200 200-200 200Z"
                    />
                </svg>
            </button>
        </div>
    </div>
</nav>
{{ end }}
